@font-face {
  font-weight: normal;
  font-style: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}
body {
	font-family: 'Cuprum', sans-serif, arial;
	font-size: 14px;
	color: #000000;	
}
.sprite {
    background-image: url(../img/decor/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 59px;
    height: 72px;
    background-position: -10px -10px;
}

.sprite-basket2 {
    width: 59px;
    height: 72px;
    background-position: -10px -102px;
}

.sprite-btn-price- {
    width: 141px;
    height: 38px;
    background-position: -10px -194px;
}

.sprite-bucket {
    width: 44px;
    height: 65px;
    background-position: -10px -252px;
}

.sprite-bucket2 {
    width: 44px;
    height: 65px;
    background-position: -10px -337px;
}

.sprite-butterfly {
    width: 20px;
    height: 23px;
    background-position: -10px -422px;
}

.sprite-butterfly-dot {
    width: 4px;
    height: 4px;
    background-position: -10px -465px;
}

.sprite-car {
    width: 78px;
    height: 63px;
    background-position: -10px -489px;
}

.sprite-car2 {
    width: 78px;
    height: 63px;
    background-position: -10px -572px;
}

.sprite-dot {
    width: 4px;
    height: 4px;
    background-position: -10px -655px;
}

.sprite-drill {
    width: 75px;
    height: 61px;
    background-position: -10px -679px;
}

.sprite-drill2 {
    width: 75px;
    height: 61px;
    background-position: -10px -760px;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -841px;
}

.sprite-icon-basket2 {
    width: 17px;
    height: 16px;
    background-position: -10px -877px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -913px;
}

.sprite-icon-bookmark2 {
    width: 14px;
    height: 16px;
    background-position: -10px -949px;
}

.sprite-icon-check-off1 {
    width: 23px;
    height: 23px;
    background-position: -10px -985px;
}

.sprite-icon-check-off2 {
    width: 23px;
    height: 23px;
    background-position: -10px -1028px;
}

.sprite-icon-check-on1 {
    width: 27px;
    height: 23px;
    background-position: -10px -1071px;
}

.sprite-icon-check-on2 {
    width: 27px;
    height: 23px;
    background-position: -10px -1114px;
}

.sprite-icon-circle-dot1 {
    width: 25px;
    height: 25px;
    background-position: -10px -1157px;
}

.sprite-icon-circle-dot2 {
    width: 25px;
    height: 25px;
    background-position: -10px -1202px;
}

.sprite-icon-circle1 {
    width: 25px;
    height: 25px;
    background-position: -10px -1247px;
}

.sprite-icon-circle2 {
    width: 25px;
    height: 25px;
    background-position: -10px -1292px;
}

.sprite-icon-down-dir {
    width: 11px;
    height: 10px;
    background-position: -10px -1337px;
}

.sprite-icon-down-dir-black {
    width: 11px;
    height: 10px;
    background-position: -10px -1367px;
}

.sprite-icon-facebook {
    width: 10px;
    height: 18px;
    background-position: -10px -1397px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -1435px;
}

.sprite-icon-instagramm {
    width: 17px;
    height: 17px;
    background-position: -10px -1467px;
}

.sprite-icon-left {
    width: 22px;
    height: 40px;
    background-position: -10px -1504px;
	
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -10px -1564px;
}

.sprite-icon-login2 {
    width: 20px;
    height: 17px;
    background-position: -10px -1601px;
}

.sprite-icon-logout {
    width: 21px;
    height: 17px;
    background-position: -10px -1638px;
}

.sprite-icon-logout2 {
    width: 21px;
    height: 17px;
    background-position: -10px -1675px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -1712px;
}

.sprite-icon-right {
    width: 22px;
    height: 40px;
    background-position: -10px -1751px;
}

.sprite-icon-right-min {
    width: 8px;
    height: 12px;
    background-position: -10px -1811px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -1843px;
}

.sprite-icon-search-red {
    width: 17px;
    height: 17px;
    background-position: -10px -1880px;
}

.sprite-icon-search3 {
    width: 17px;
    height: 17px;
    background-position: -10px -1917px;
}

.sprite-icon-up-dir {
    width: 11px;
    height: 10px;
    background-position: -10px -1954px;
}

.sprite-icon-up-dir-black {
    width: 11px;
    height: 10px;
    background-position: -10px -1984px;
}

.sprite-icon-up-dir3 {
    width: 11px;
    height: 10px;
    background-position: -10px -2014px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -10px -2044px;
}

.sprite-icon-user2 {
    width: 20px;
    height: 18px;
    background-position: -10px -2082px;
}

.sprite-icon-vk {
    width: 20px;
    height: 12px;
    background-position: -10px -2120px;
}

.sprite-new-flag {
    width: 60px;
    height: 59px;
    background-position: -10px -2152px;
}

.sprite-slider-dots2 {
    width: 10px;
    height: 10px;
    background-position: -10px -2231px;
}

.sprite-slider-indicator {
    width: 6px;
    height: 6px;
    background-position: -10px -2261px;
}

.sprite-sort-indicator7 {
    width: 9px;
    height: 9px;
    background-position: -10px -2287px;
}

.sprite-tick {
    width: 39px;
    height: 29px;
    background-position: -10px -2316px;
}

.sprite-tractor {
    width: 78px;
    height: 62px;
    background-position: -10px -2365px;
}

.sprite-tractor2 {
    width: 78px;
    height: 62px;
    background-position: -10px -2447px;
}
.main-header {
	background-color: #293449;
	min-width: 960px;	
}
.main-nav-header{
	background: #f1f5f7;
	min-width: 960px;
}
main {
	background-color: #ffffff;
	min-width: 960px;
}
.main-service {
	background-color:  #f2f6f8;
	min-width: 960px;
}
.main-say {
	background-color: #f2f6f8;
	min-width: 960px;
}
.main-company {
	background-color: #ffffff;	
	min-width: 960px;
}
.main-footer {
	background-color: #32425c;
	min-width: 960px;
}
.main-footer-end{
	background-color: #293449;
	min-width: 960px;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;	
}
.user-block {
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.logotype {
	float: left;
	display: block;
	width: 220px;
	text-align: center;
}
.logotype a{
	display: block;
	color: #ffffff;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	padding: 9px;
	box-sizing: border-box;
	background: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
	text-transform: uppercase;
}
.logotype a:hover {
	background-color: #ca2c37;
}
.logotype a:active {
	background-color: #ba2732;
}
/*  сoздание меню*/
.top-menu {
	float: right;
	height: 42px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: #293449;
	font-size: 0;
}
.top-menu li {
	display: inline-block;
	vertical-align: top;
}
.top-menu  .search {
    color: white;
	display: block;	
	float: right;
	width: 284px;
	height: 42px;
	font-size: 17px;
	line-height: 18px;
	margin-right: 0px;	
}
.search input[type="text"] { 
	color: #ffffff; 
	border: none; 
	outline:none;
	padding: 13px 0px 13px 45px;
	width: 220px;
	height: 16px;
	background: url("../img/decor/new/icon-search.png") no-repeat 18px 12px;
	vertical-align: middle;
}
.search input[type="text"]:hover{
	color: #ffffff;
	border: none; 
	outline:none;
	padding: 13px 0px 13px 45px;
	width: 240px;
	height: 16px;
	background: #212a3a url("../img/decor/new/icon-search3.png") no-repeat 18px 12px;
}
.search input[type="text"]:focus {
	color: #000000;
	border: none;
	outline:none;
	padding: 13px 0px 13px 45px;
	width: 240px;
	height: 16px;
	background: #ffffff url("../img/decor/new/icon-search-red.png") no-repeat 18px 12px;
}
.search input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
   color:    white;
   opacity: 1;
}
.search input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity: 1;
}
.search input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity: 1;
   }
.search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
   opacity: 1;
   }
.top-menu a {
	position: relative;
	font-size: 17px;
	line-height: 18px;
	color: white;
	display: block;	
	float: left;
	padding: 12px 0px;
	width: 145.5px;
	text-align: center;
	text-decoration: none;
}
.bookmark a{
	width: 150px;
}
.basket a{
	width: 141px;
}	
.top-menu a:hover {
	background-color: #212a3a;
}
.top-menu a:active {
	color: #babbbd;
}
.green-menu a {
	position: block;
	float: left;
	padding-left: 0px; 
	padding-right: 0px;
	margin-right: 0px;
	text-align: center;
	width: 145px;
}
.green-menu a:hover {
	background-color: #63a63e;
}
.green-menu a:active {
	background-color: #518534;
}
.bookmark a:before{
	content: "";
	position: absolute;
	top: 12px;
	left: 2px;
	background: url("../img/decor/sprite.png") no-repeat -10px -913px;
	  width: 14px;
    height: 16px;
}
.bookmark a:hover:before{
	background: url("../img/decor/new/icon-bookmark2.png") no-repeat;

}
.bookmark a:active:before{
	background: url("../img/decor/sprite.png") no-repeat -10px -913px;
	  width: 14px;
    height: 16px;
}
.basket a:before{
	content: "";
	position: absolute;
	top: 12px;
	left: 2px;
	background: url("../img/decor/sprite.png") no-repeat -10px -841px;
	 width: 17px;
    height: 16px;
}
.basket a:hover:before{
	background: url("../img/decor/new/icon-basket2.png") no-repeat;
}

.basket a:active:before{
	background: url("../img/decor/sprite.png") no-repeat -10px -841px;
	width: 17px;
    height: 16px;
}
.nav-header {
	background: #f1f5f7;
	font-size: 0px;
}
.info {
	width: 200px;
	float: left;
	font-style: italic;
	margin: 18px 0px;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	margin-left: 56px;
	margin-top: 34px;
	margin-bottom: 22px;
}
.phone {
	width: 270px;
	font-family: "Cuprum", arial ;
	text-align: center;
	float: left;
	margin: 35px 60px 0px 0px;
	margin-top: 45px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-left: 64px;
}
.phone .heading-three {
	position: relative;
	display: block;
	font-size: 21px;
	line-height: 18px;
	color: #e9292a;
	padding: 10.5px 0px;
	padding-left: 20px;
	border: 3px solid #ffffff;
	margin-bottom: 4px;
}
.phone .heading-three:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1712px;
	width: 19px;
    height: 19px; 
}
.user-activ{
	display: block;
	float: right;
	margin-top:45px;
	width: 278px;
	height: 47px;
	font-size: 0px;
}
.user-activ a{
	text-decoration: none;
	font-size: 21px;
	line-height: 18px;
	color: #000000;
	padding-left: 10px;
}
.user-activ a:hover{
	color: #ee3643;
}
.user-activ a:active {
	color: #cacaca;
}
.entry  {
	position: relative;
	background: #ffffff;
	padding: 14.5px 0px;
	width: 70px;
	display: inline-block;
	float: left;
	vertical-align: top;	
}
.user-activ a:nth-child(1) {
	padding-left: 48px;
}
.user-activ .entry:before {
	content: "";
	position: absolute;
	left: 14px ;
	background: url("../img/decor/sprite.png") no-repeat -10px -1601px;
	width: 20px;
    height: 17px;
}
.user-activ .entry:hover:before {
	color: #ee3643;
	background: url("../img/decor/sprite.png") no-repeat -10px -1564px;
	width: 20px;
    height: 17px;
}
.user-activ .entry:active:before {
	background: url("../img/decor/sprite.png") no-repeat -10px -1601px;
	width: 20px;
    height: 17px;
}
.registry {
	background: #ffffff;
	padding: 14.5px 0px;
	display: inline-block;
	float: right;
	width: 140px;
	vertical-align: top;
	text-align: center;
}
.main-navigation {
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-size: 0px;
	margin-bottom: 60px;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	
}
.main-navigation a {
	background: #32425c;
	display: block;
	font-size: 17px;
	line-height: 17px;
	color: white;
	text-decoration: none;
	padding: 22px 0px;
	width: 134.2px;
	text-align:center;
	box-shadow: inset 0 -5px 0 0 #293449;
}
.main-navigation li:nth-child (7) a{
	margin-right: 0px;
}

.main-navigation a:hover {
	background-color: #293449;
}
.main-navigation a:active {
	background-color: #1d2739;
	color: #a8abaf;
}
.slide {
	background: #ffffff;
	font-size: 0px;
}
.slide p {
	width: 200px;
	font-size: 24px;
	line-height: 30px;
	font-weight: Bold; 
	color: #ffffff;
	padding: 0px 23px;
	margin-bottom: 10px;
	margin-top: 20px;
	box-sizing: border-box;
}
.slide a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin-left: 23px;
	padding: 10px 0px;
	width: 136px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-sizing: border-box;
}
.slide a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.slide a:active {
	background-color: rgba(0, 0, 0, 0.3);
}
.slide1 {
	float: left;
	width: 620px;
	margin-top: 60px;
	margin-bottom: 52px;
}
.slide-material {
	position: relative;
	background: #f6b22d;  
	width: 300px;
	height: 123px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.slide-material:before {
	content: "";
	position: absolute;
	top: 33px;
	left: 214px;
	background: url("../img/decor/sprite.png") no-repeat -10px -252px;
	width: 44px;
    height: 65px;
}
.slide-material:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 240px;
	background: url("../img/decor/sprite.png") no-repeat -10px -2152px;
	width: 60px;
    height: 59px;
}
.slide-tool {
	position: relative;
	background: #4aafde;  
	width: 300px;
	height: 123px;
	display: block;
	float: right;
	margin-right: 0px;
}
.slide-tool:before {
	content: "";
	position: absolute;
	top: 35px;
	left: 195px;
	background: url("../img/decor/sprite.png") no-repeat -10px -679px;
	width: 75px;
    height: 61px;
}
.slide-techno img {
	width: 620px; 
	height: 266px;
}
.slide-techno {
	position: relative;
	background: url("../img/content/slider/image1.jpg") no-repeat;
	width: 620px;
	height: 266px;
	display: ;
	clear: both;
	font-size: 18px; 
	line-height: 24px;
	color: #ffffff;
	padding-left: 25px;
}
.slide-techno .perforator {
	position: absolute;
	top:-16px;
	left: 23px;
	z-index: 10;
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 0px;
	margin-bottom: 10px;
	padding-top: 20px;
	text-transform: uppercase;
}
.switch {
	position: absolute;
	top: 210px;
	left: 297px;
}
.switch  input[type="radio"] {
	display: none;
}
.switch  input[type="radio"] + label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	margin-right: 18px;
	padding: 0px;
	z-index: 11;
}
.switch input[type="radio"] + label:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: #ffffff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.switch input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	background: #ee3643;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.slide-techno .icon-left {
	position: absolute;
	top: 114px;
	left: 4px;
	background:   url("../img/decor/sprite.png") no-repeat -10px -1504px;
	width: 22px;
    height: 40px;
}
.slide-techno  > a {
	background-color: rgba(0, 0, 0, 0);
}
.slide-techno  > a:hover {
	background-color: rgba(0, 0, 0, 0);
}
.slide-techno  > a:active {
	background-color: rgba(0, 0, 0, 0);
}

.slide-techno .icon-right {
	position: absolute;
	top: 114px;
	right: 45px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1751px;
	width: 22px;
    height: 40px;
}
.slide-techno span {
	font-family: "PT Sans", arial;
	position: absolute;
	top: 60px;
	left: 23px;
	z-index: 10;
}
.slide-open  a {
	position: absolute;
	top: 200px;
	left: -3px;
	font-weight: normal;
	padding: 9px 0px;
	background: #ee3643;
	text-transform: uppercase;
	width: 196px;
	text-align: center;
	border-radius: 3px;
}
.slide-open  a:hover{
	background-color: #ca2c37;
}
.slide-open  a:active {
	background-color: #ba2732;
}

.slide-techno:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: url("../img/decor/shadow1.png") no-repeat;
	width: 620px;
	height: 105px;
}
.slide-perforator {
	position: relative;
	background: #cc79d1;  
	width: 300px;
	float: right;
	height: 123px;
	margin: 0px 0px 20px 0px;
}
.slide-perforator :before {
	content: "";
	position: absolute;
	top: 35px;
	left: 195px;
	background: url("../img/decor/sprite.png") no-repeat -10px -2365px;
	width: 78px;
    height: 62px;
}
.slide-techno2 img {
	width: 620px; 
	height: 266px;
}
.slide-techno2 {
	position: relative;
	background: url("../img/content/slider/image2.jpg") no-repeat;
	width: 620px;
	height: 266px;
	display: none;
	clear: both;
	font-size: 18px; 
	line-height: 24px;
	color: #ffffff;
	padding-left: 25px;
}
.slide-techno2 .perforator {
	position: absolute;
	top:-30px;
	left: 19px;
	z-index: 10;
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 0px;
	margin-bottom: 10px;
	padding-top: 20px;
	text-transform: uppercase;
}
.slide-techno2 .switc {
	position: absolute;
	top: 215px;
	left: 310px;

}
.slide-techno2 .switc input[type="radio"] {
	display: none;
}
.switc input[type="radio"] + label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	margin-right: 18px;
	padding: 0px;
	z-index: 11;
}
.switc input[type="radio"] + label:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: #ffffff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.switc input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	background: #ee3643;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.slide-techno2 .icon-left {
	position: absolute;
	top: 110px;
	left: 20px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1504px;
	width: 22px;
    height: 40px;
	z-index: 10;
}
.slide-techno2 .icon-right {
	position: absolute;
	top: 110px;
	right: 45px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1751px;
	width: 22px;
    height: 40px;
	z-index: 10;
}
.slide-techno2 > a {
	background-color: rgba(0, 0, 0, 0);
}
.slide-techno2  > a:hover {
	background-color: rgba(0, 0, 0, 0);
}
.slide-techno2  > a:active {
	background-color: rgba(0, 0, 0, 0);
}
.slide-techno2 span {
	position: absolute;
	top: 60px;
	left: 20px;
	z-index: 10;
}
.slide-open  a {
	position: absolute;
	top: 210px;
	left: 3px;
	font-weight: normal;
	padding: 9px 0px;
	background: #ee3643;
	text-transform: uppercase;
	width: 196px;
	text-align: center;
	border-radius: 3px;
}
.slide-open  a:hover{
	background-color: #ca2c37;
}
.slide-open  a:active {
	background-color: #ba2732;
}

.slide-techno2:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: url("../img/decor/shadow2.png") no-repeat;
	width: 620px;
	height: 105px;
}
.shad2-nook {
	position: absolute;
	top: 0px;
	left: 288px;
	background: url("../img/decor/shad2-nook.png") no-repeat ;
	width: 332px;
	height:	266px;
	z-index: 9;
}
.slide-perforator {
	position: relative;
	background: #cc79d1;  
	width: 300px;
	float: right;
	height: 123px;
	margin: 0px 0px 20px 0px;
}
.slide-perforator :before {
	content: "";
	position: absolute;
	top: 35px;
	left: 195px;
	background: url("../img/decor/sprite.png") no-repeat -10px -2365px;
	width: 78px;
    height: 62px;
}
.slide2 {
	width: 300px;
	float: right;
	margin-top: 60px;
	margin-bottom: 25px;
}
.slide-discount {
	position: relative;
	background: #85d179;  
	width: 300px;
	height: 123px;
	float: right;
	margin: 0px 0px 20px 0px;
}
.slide-discount:before {
	content: "";
	position: absolute;
	top: 30px;
	left: 195px;
	background: url("../img/decor/sprite.png") no-repeat -10px -10px;
	width: 59px;
    height: 72px;
}
.slide-delivery {
	position: relative;
	background: #f6b22d;  
	width: 300px;
	height: 123px;
	clear: both;
} 
.slide-delivery:before {
	content: "";
	position: absolute;
	top: 30px;
	left: 195px;
	background: url("../img/decor/sprite.png") no-repeat -10px -489px;
	width: 78px;
    height: 63px;
}
.slide-delivery  p {
	display: block;
	padding-top: 20px;
}

.pops-goods {
	background: #f7f3ec;
	padding-top: 29px;
	padding-bottom: 60px;
}
.pops-goods-head {
	float: left;
}
.heading-two {
	font-size: 30px;
	line-height: 30px;
	margin-left: 31px;
	color: #32425c;
	min-width: 250px;
	margin-top: 3px;
	text-transform: uppercase;
}
.pops-all a {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	display: block;
	float: right;
	width: 252px;
	background: #ee3643;
	border-radius: 5px;
	margin-right: 25px;
	padding: 10px 0px;
	width: 252px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.pops-all a:hover{
	background-color: #ca2c37;
}
.pops-all a:active {
	background-color: #ba2732;
}
.catalog-pops {
	font-size: 0px;
	padding-top: 20px;
}
.catalog-item {
	box-sizing: border-box;
}
.catalog-pops .catalog-item { 
	margin-right: 20px;
}
.catalog-pops .catalog-item:nth-child(4){
	margin-right: 0px;
	margin-left: 20px;
}
.pops-producers {
	background: #f7f3ec;
	padding-top: 25px;
	padding-bottom: 25px;	
}
.heading-producers {
	display: block;
	float: left;
	font-size: 30px;
	line-height: 30px;
	margin-left: 23px;
	color: #32425c;
	text-transform: uppercase;
}
.producers-img-label{
	box-sizing: border-box;
}
.producers-img-label .img{
	text-align: center;
}
.producers-img {
	width: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 86px;
}
.producers-img-label  {
	background: #ffffff;
	border: 2px solid #e5e5e5;
	width: 220px;
	height: 146px;
	display:block;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: middle;	
}
.producers-img-label:hover {
	box-shadow: 0 5px 20px 1px #abafb8;
}
.producers-img-label:active {
	box-shadow: 0 5px 20px 1px #abafb8;
	opacity: 0.3;
}
.producers-img-label:nth-child(4){
	margin-right: 0px;
}
.producers-img-label:nth-child(5){
	margin-bottom: 0px;
}
.producers-img-label:nth-child(6){
	margin-bottom: 0px;
}
.producers-img-label:nth-child(7){
	margin-bottom: 0px;
}
.producers-img-label:nth-child(8){
	margin-right: 0px;
	margin-bottom: 0px;
}
.producers-img-label .BOSCH {
	display: block;
	padding-top: 52px;
}
.producers-img-label .MAKITA {
	display: block;
	padding-top: 52px;
}
.producers-img-label .DeWALT {
	display: block;
	padding-top: 52px;
}
.producers-img-label .Interscol{
	display: block;
	padding-top: 26px;
}
.producers-img-label .HITACHI {
	display: block;
	padding-top: 55px;
}
.producers-img-label .LG {
	display: block;
	padding-top: 35px;
}
.producers-img-label .AEG {
	display: block;
	padding-top: 23px;
}
.producers-img-label .METABO {
	display: block;
	padding-top: 36px;
}
.service {
	background: #f2f6f8;
}
.service-client {
	display: block;
	width: 400px;
	padding-top: 68px;
	padding-bottom: 50px;
}
.heading-service {
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
}
.web-shop {
	font-family: "PT Sans", arial;
	font-size: 13px;
	line-height: 24px;
	margin-top: 29px;
	margin-bottom: 17px;
}
.service-menu {
	position: relative;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	padding-bottom: 104px;
	list-style: none;
	display: block;
	width: 240px;
}
.service-menu:after {
	content: "";
	position: absolute;
	top: -45px;
	right: 0px;
	background: url("../img/decor/service/service-shad.png") no-repeat;
	width: 10px;
	height: 272px;	
}
.service-menu a {
	display: block;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 20px;
	color: #ffffff;
	background: #32425c;
	box-shadow: inset 0 -1px 0 0 #293449,
				inset 0 1px 0 0 #405069;
}
.service-menu a:hover {
	color: #ffffff;
	background-color: #293449;
}

.service-menu a:active {
	color: #32425c;
	background-color: #ffffff;
	box-shadow: none;
}
.service-delivery {
	display:  ;
	float: left;
	width: 250px;
	margin-left: 78px;
	
}
.service-delivery span {
	font-family: "PT Sans", arial;
	display: block;
	float: left;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	padding: 0px;
	margin: 0px;	
}
.service-delivery .heading-four {
	position: relative;
	font-family:"Cuprum", arial;
	display: block;
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
	margin-bottom: 33px;
	margin-top: 3px;
}
.heading-four:before {
	content: "";
	position: absolute;
	top: 20px;
	left: 414px;
	background: url("../img/decor/car-shadow.png");
	width: 206px;
	height: 146px;
	z-index: 10;
}
.heading-four:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 152px;
	background: url("../img/decor/car-shadow2.png");
	width: 467px;
	height: 261px;
	z-index: 9;
}
.service-credit {
	display: none;
	float: left;
	width: 280px;
	margin-left: 80px;
}
.service-credit span {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}
.service-credit .heading-four {
	position: relative;
	font-family:"Cuprum", arial;
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
	margin-bottom: 33px;
	margin-top: 3px;
}
.service-credit .heading-four:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 414px;
	background: url("../img/decor/credit.png") no-repeat;
	width: 181px;
	height: 184px;
	z-index: 10;
}
.service-credit .heading-four:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 130px;
	background: url("../img/decor/credit-shadow.png") no-repeat;
	width: 467px;
	height: 261px;
	z-index: 0;
}
.service-credit a{
	width: 195px;
	display: block;
	float: left;
	margin-top: 22px;
}
.service-medal {
	display: none ;
	float: left;
	width: 320px;
	margin-left: 80px;
}
.service-medal span {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}
.service-medal .heading-four {
	position: relative;
	font-family:"Cuprum", arial;
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
	margin-bottom: 33px;
	margin-top: 3px;
}
.service-medal .heading-four:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 414px;
	background: url("../img/decor/Medal.png") no-repeat;
	width: 181px;
	height: 184px;
	z-index: 10;
}
.service-medal .heading-four:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 196px;
	background: url("../img/decor/Medal-shadow.png") no-repeat;
	width: 467px;
	height: 261px;
	z-index: 0;
}
.company {
	background: #ffffff;
	width: auto;
	padding-top: 82px;
	padding-bottom: 52px;
}
.head-company {
	width: 520px;
	display: block;
	float: left;
	box-sizing: border-box;
	
}
.head-company  .heading-company {
	font-size: 30px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}
.head-company p {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin-top: 30px;
}
.head-company .heading-company-p {
	margin-top: 20px;
	margin-bottom: 10px;	
}
.head-company .head-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-top: 10px;
	box-sizing: border-box;
	
}
.head-list li {
	position: relative;
	font-size: 18px;
	line-height: 20px;
	padding-left: 35px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.head-list li:nth-child(3) {
	margin-bottom: 9px;
}
.head-list li:before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0px;
	background: url("../img/decor/information/info-line.png") no-repeat;
	width: 25px;
	height: 2px;
}
.company {
	box-sizing: border-box;
}
.company-info a{
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
	display: block;
	float: left;
	background: #ee3643;
	border-radius: 5px;
	margin-right: 25px;
	margin-top: 19px;
	padding: 10px 0px;
	text-transform: uppercase;
	width: 220px;
	text-align: center;
}
.company-info a:hover{
	background-color: #ca2c37;
}
.pops-all a:active {
	background-color: #ba2732;
}
.contact {
	width: 300px;
	display: block;
	float: right;
	box-sizing: border-box;
}
.contact  .heading-contact {
	display: block;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 30px;
}
.contact p {
	display: block;
	font-family: "PT Sans", arial;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 30px;
}
.company-search a{
	display: block;
	float: right;
	background: #ee3643;
	border-radius: 5px;
	margin-right: 25px;
	padding: 10px 0px;
	width: 300px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 0px;
	margin-top: 35px;
	margin-bottom: 35px;
}
.company-search a {
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: #ffffff;
}
.company-search a:hover{
	background: #ca2c37;
}
.company-search a:active {
	background: #ba2732;
}
.main-footer  .container{
	background: #32425c;
}
.footer-string1 {
	font-size: 0px;
}
.logotype2 {
	display: block;
	float: left;
	font-size: 30px;
	line-height: 30px;
	width: 220px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase; 
	padding-top: 17px;
	padding-bottom:14px;
	background: #ee3643;
	margin-right: 165px;
	box-shadow: 0 5px 0 0 #b52933;
}
.footer-main-list {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}
.footer-main-list li {
	display: inline-block;
	margin-top: 40px;
	margin-right: 60px;
	min-width: 50px;
	vertical-align: top;	
}
.footer-main-list li:nth-child(5) {
	margin-right: 0px;
}
.footer-main-list li:nth-child(5) {
	margin-right: 0px;
}
.footer-main-list a {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	text-decoration: none;	
}
.footer-main-list a:hover{
	text-decoration: underline;	
}
.footer-main-list a:active{
	text-decoration: none;
	opacity: 0.5;
}
.footer-string2 {
}
.footer-contacts {
	display: block;
	float: left;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	width: 330px;
	min-height: 50px;	
	margin-top: 30px;
	margin-bottom: 42px;
}
.foot-breadcrumbs-list {
	display: block;
	float: right;
	font-size: 0px;
	margin-top: 30px;
}
.foot-breadcrumbs-list li {
	display: inline-block;
	margin-right: 58px;
	min-width: 50px;
	vertical-align: top;
	
}
.foot-breadcrumbs-list li:nth-child(4) {
	margin-right: 0px;
}
.foot-breadcrumbs-list a {
	display: block;
	font-size: 18px;
	line-height: 24px; 
	color: #ffd180;
	text-decoration: none;
}
.foot-breadcrumbs-list a:hover {
	text-decoration: underline;	
}
.foot-breadcrumbs-list a:active{
	text-decoration: none;
	opacity: 0.5;
}
.footer-tehno {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	display: block;
	float: left;
	width: 250px;
	margin-right: 120px;
	margin-top: 40px;
	margin-bottom: 25px;
}
.footer-social {
	display: block;
	float: left;
	width: 200px;
	margin-left: 15px;
	margin-top: 40px;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 41px;
  height: 41px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50%;
  background: #212a3a;
}
.social-btn:hover {
  background-color: #ee3643;
}
.social-btn-vk {
	background: #212a3a url("../img/decor/sprite.png") no-repeat 0px -2105px; 
}
.social-btn-fb {
  background: #212a3a url("../img/decor/sprite.png") no-repeat 5px -1387px; 
}
.social-btn-inst {
  background: #212a3a url("../img/decor/sprite.png") no-repeat  2px -1455px; 
}
.footer-copyright-one {
	display: block;
	float: left;
	width: 135px;
	margin-left: 55px;
	margin-top: 46px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}
.footer-copyright-one a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
	text-decoration: none;
}
.footer-copyright-one a:hover {
	text-decoration: underline;
}
.footer-copyright-one a:active {
	color: #ee3643;
	text-decoration: none;	
}
.footer-copyright-two {
	display: block;
	float: left;
	width: 100px;
	margin-right: 0px;
	margin-left: 50px;
	margin-top: 46px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
}
.footer-copyright-two a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
	text-decoration: none;
}
.footer-copyright-two a:hover {
	text-decoration: underline;
}
.footer-copyright-two a:active {
	color: #ee3643;
	text-decoration: none;	
}
/* catalog.html*/
.user-activ-name {
	width: 287px;
	display: block;
	float: right;
	margin: 0px;
	margin-top: 45px;
	height: 43px;
}
.user-name {
	position: relative;
	width: 300px;
	height: 45px;
	background-color: white;
	font-size: 21px;
	line-height: 18px;
	color: #000000;
	float: right;
	text-align: center;
}
.user-name span {
	display: block;
	margin-top: 13px;
	font-size: 21px;
	line-height: 18px;
}
.user-name span:active {
	color: #c5c5c5;
}
.user-name:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 12px;
	background: url("../img/decor/sprite.png") no-repeat -10px -2044px;
	width: 20px;
    height: 18px;
}
.user-name:hover:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 12px;
	background: url("../img/decor/sprite.png") no-repeat  -10px -2082px;
	width: 20px;
    height: 18px;
}
.user-name:active:before {
	content: "";
	position: absolute;
	top: 13px;
	left: 12px;
	background: url("../img/decor/sprite.png") no-repeat -10px -2044px;
	width: 20px;
    height: 18px;
 } 
.user-name:after {
	content: "";
	position: absolute;
	top: 13px;
	right: 12px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1638px;
	width: 21px;
    height: 17px;
}
.user-name:hover:after {
	content: "";
	position: absolute;
	top: 13px;
	right: 12px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1675px;
	width: 21px;
    height: 17px;
}
.user-name:active:after{
	content: "";
	position: absolute;
	top: 13px;
	right: 12px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1638px;
	width: 21px;
    height: 17px;
}
.user-activ-name a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	margin-top: 10px;
	margin-left: 5px;
}
.user-activ-name a:nth-child(3){
	margin-left: 0;
}
.user-activ-name a:hover  {
	color: #ee3643;
}
.user-activ-name a:active {
	color: #c5c5c5;
}
.cabinet {
	position: relative;
	padding-left: 25px;
	margin-left: 0px;
}
.cabinet:before {
	content: "";
	position: absolute;
	top: 7px;
	left: 8px;
	width: 4px;
	height: 5px;
	background: url("../img/decor/new/dot.png") no-repeat;
}
.breadcrumbs {
	padding: 0px;
	margin: 0px;
	font-size: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
}
.breadcrumbs img {
	width: 15px;
	height: 12px;
	background: url("../img/decor/new/icon-home.png") no-repeat ;
}
.breadcrumbs a {
	font-family: "PT Sans", arial;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	padding-left: 40px; 
}
.breadcrumbs li:nth-child(1) a{
	padding-left: 0px;
}
.breadcrumbs li:nth-child(2) a{
	position: relative;
}
.breadcrumbs li:nth-child(3) a{
	position: relative;
}
.breadcrumbs a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 15px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1811px;
	width: 8px;
    height: 12px;
}
.breadcrumbs li:nth-child(1) a:before {
	display: none;
}
.breadcrumbs span {
	font-family: "PT Sans", arial;
	position: relative;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 40px;
}
.breadcrumbs span:before {
	content: "";
	position: absolute;
	top: 0;
	left: 15px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1811px;
	width: 8px;
    height: 12px;
}
.heading {
	background: #f2f6f8;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	vertical-align: middle;
}
.heading-one {
	color: #32425c;
	display: block;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-left: 30px;	
}
.filter {
	width: 220px;
	float: left;
}

.filter-one {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background: #f7f3ec;
	border-radius: 3px;
	padding: 10px 0px 3px 20px;
	height: 28px;
}
.price-catalog {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	background: #ffffff;
	padding: 8px 0px 16px 0px;
}
.range {
	position: relative;
	background: #f7f3ec;
	width: 220px;
	height: 80px;
	border-radius: 0px 0px 3px 3px;
}
.range-right {
	position: absolute;
	top: 32px;
	left: 140px;
	background: url("../img/decor/new/butterfly.png") no-repeat ;
	width: 20px;
	height: 23px;
	z-index: 10;
}
.butterfly-right {
	position: absolute;
	top: 40px;
	left: 148px;
	background: url("../img/decor/new/butterfly-dot.png") no-repeat ;
	width: 4px;
	height: 4px;
	z-index: 11;
}
.range-left {
	position: absolute;
	top: 32px;
	left: 30px;
	background: url("../img/decor/new/butterfly.png") no-repeat ;
	width: 20px;
	height: 23px;
	z-index: 10;
}
.butterfly-left {
	position: absolute;
	top: 40px;
	left: 38px;
	background: url("../img/decor/new/butterfly-dot.png") no-repeat ;
	width: 4px;
	height: 4px;
	z-index: 11;
}
.butterfly-black {
	position: absolute;
	width: 140px;
	top: 35px;
	left: 38px;
	z-index: 1;
	border: none; /* Убираем границу для браузера Firefox */
    color: #d7dcde; /* Цвет линии для остальных браузеров */
    background-color: #d7dcde; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */	
}
.butterfly-green {
	position: absolute;
	width: 110px;
	top: 35px;
	left: 38px;
	z-index: 2;
	border: none; /* Убираем границу для браузера Firefox */
    color: green; /* Цвет линии для остальных браузеров */
    background-color: #00ca74; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}
.number {
	position: relative;
	width: 220px;
	margin-top: 9px;
	margin-bottom: 25px;
}
.number-left {
	font-family: "PT Sans", arial;
	font-size: 17px;
	line-height: 18px;
	background: #f7f3ec;
	display: block;
	float: left;
	border-radius: 2px;
}
.number-left input[type="number"] { 
	color: #000000;  
	outline:none;
	border: none;
	padding: 0px;
	width: 96px;
	height: 39px;
	background:  #f7f3ec;
	vertical-align: middle;
	text-align: center;
	-moz-border-radius: 2px 2px 2px 2px;    /* Для браузера FireFox - это все для кроссбраузерности придумано, так как известно что разные браузеры могут по пазному все показывать  */
    -webkit-border-radius: 2px 2px 2px 2px; /* Для браузера Chrome и Safari */
    -khtml-border-radius: 2px 2px 2px 2px; /* Для браузера браузера Konquerer, ну это из мира Linux вдруг будет такой счастливчик, да и не такая тяжба вставить это  */
	border-radius: 2px 2px 2px 2px;
	
}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
  }
.number-right {
	font-family: "PT Sans", arial;
	font-size: 17px;
	line-height: 18px;
	background: #f7f3ec;
	display:block;
	float: right;
	border-radius: 2px;
}	
.number-right input[type="number"] { 
	color: #000000;  
	outline:none;
	border: none;
	padding: 0px;
	width: 96px;
	height: 39px;
	background:  #f7f3ec;
	vertical-align: middle;
	text-align: center;
	-moz-border-radius: 2px 2px 2px 2px;    /* Для браузера FireFox - это все для кроссбраузерности придумано, так как известно что разные браузеры могут по пазному все показывать  */
    -webkit-border-radius: 2px 2px 2px 2px; /* Для браузера Chrome и Safari */
    -khtml-border-radius: 2px 2px 2px 2px; /* Для браузера браузера Konquerer, ну это из мира Linux вдруг будет такой счастливчик, да и не такая тяжба вставить это  */
	border-radius: 2px 2px 2px 2px;
}
.dash {
	position: absolute;
	content: "";
	top: 10px;
	left: 105px; 
	width: 10px;
	border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}
.line-filter {
	border: none; /* Убираем границу для браузера Firefox */
    color: #e5e5e5; /* Цвет линии для остальных браузеров */
    background-color: #e5e5e5; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
	clear: both;
}
.producers {
	padding: 0px;
	margin: 0px;
	margin-top: 15px;
}
.producers-catalog {
	font-family: "PT Sans", arial;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.producers-multiple {
	font-family: "PT Sans", arial;
	font-size: 15px;
	line-height: 20px;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	display: block;
	margin: 10px 0px;
	line-height: 20px;
	font-weight: bold;
	font-size: 15px;
	padding-left: 35px;
	position: relative;
	cursor: pointer;
	padding-bottom: 10px;
	text-transform: uppercase;
}
input[type="checkbox"] + label:before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0px;
	border: 2px solid #c1c1c1;
	border-radius: 5px;
	width: 19px;
    height: 18px;
	background: #ffffff;
}
input[type="checkbox"]:checked + label:after {
	content: "";
	position: absolute;
	border: none;
	border-radius: none;
	top: -2px;
	left: 0px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1071px;
	width: 27px;
    height: 23px;
}
.food-catalog {
	font-family: "PT Sans", arial;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	display: block;
}
.supply {
	font-family: "PT Sans", arial;
	font-size: 14px;
	line-height: 20px;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
	display: block;
	margin: 10px 0px;
	line-height: 18px;
	font-weight: bold;
	font-size: 14px;
	padding-left: 35px;
	position: relative;
	cursor: pointer;
	padding-bottom: 12px;
	text-transform: uppercase;
}
input[type="radio"] + label:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0px;
	background:  url("../img/decor/sprite.png") no-repeat -10px -1247px;
	width: 25px;
    height: 25px;
}
input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: -4px;
	left: 0px;
	background: url("../img/decor/sprite.png") no-repeat -10px -1157px;
	width: 25px;
    height: 25px;
} 
.let-see {
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	width: 140px;
	height: 38px;
	font-family: "PT Sans", arial;
	font-size: 13px;
	line-height: 18px;
	outline: none;
	margin-top: 64px;
	text-transform: uppercase;
	border-radius:3px;
}
.let-see:hover {
	border: 1px solid #bdc6ca;
}
.let-see:active {
	border: 1px solid #ee3643;
}
.catalog {
	width: 700px;
	float: right;
	margin-left: 20px;
	padding-bottom: 60px;
}
.triage-line {
	background: #f7f3ec;
	border-radius: 3px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
	margin-bottom: 20px; 	
}
.triage-line li  {
	font-family: "PT Sans", arial ;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.triage-line li:nth-child(1) {
	margin-right: 139px;
	margin-left: 20px;
}
.triage-line a {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dashed #ee3643;
	color: #c1c1c1;
	margin-right: 70px;
}
.triage-line li:nth-child(4) a {
	margin-right: 40px;
}
.triage-line li:nth-child(5) a {
	margin-right: 20px;
	border-bottom: none;
}
.triage-line li:nth-child(6) a {
	margin-right: 0px;
}
.triage-line .triage-line-up {
	background: url("../img/decor/sprite.png") no-repeat -10px -2014px;	
	width: 11px;
    height: 10px;
	margin-top: 4px;
}
.triage-line .triage-line-up:hover {
	background: url("../img/decor/sprite.png") no-repeat -10px -1984px;
	width: 11px;
    height: 10px; 
}
.triage-line .triage-line-up:active {
	background: url("../img/decor/sprite.png") no-repeat -10px -1954px;
	width: 11px;
    height: 10px;
}
.triage-line .triage-line-down {
	background: url("../img/decor/sprite.png") no-repeat -10px -1337px;
	width: 11px;
    height: 10px;
	border-bottom: none;
	text-decoration: none;
	margin-top: 4px;
}
.triage-line .triage-line-down:hover {
	background: url("../img/decor/sprite.png") no-repeat -10px -1367px;
	width: 11px;
    height: 10px;
	text-decoration: none;
	border-bottom: none;
}
.triage-line .triage-line-down:active {
	background: url("../img/decor/sprite.png") no-repeat -10px -2287px;
	width: 9px;
    height: 9px;
}
.triage-line a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}
.triage-line a:active {
	color: #ee3643;
	border-bottom: none;
}

.catalog-items{
	width: 700px;
}
.catalog-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}
.catalog-item:nth-child(3n){
	margin-right: 0px;
}
.catalog-items {
	font-size: 0px;
}
.catalog-item {
	font-size: 16px;
} 
.catalog-item:hover {
	box-shadow: 0 5px 20px 1px #abafb8;	
} 
.catalog-item  .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}
.catalog-item .flaf-new {
	background: url("../img/decor/sprite.png") no-repeat -10px -2152px;
	width: 60px;
    height: 59px;
}
.catalog-item .actions {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 216px;
	height: 88px;
	padding: 40px 0px;
	z-index: 10;
	background-color: #ffffff;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
	display: block;
	width: 129px;
	margin: 0px auto;
	margin-bottom: 7px;
	padding: 7px 0px;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum" , sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}
.catalog-item .actions .buy {
	position: relative;
}
.catalog-item .actions .buy:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 6px;
	background: url("../img/decor/sprite.png") no-repeat -10px -841px;
	 width: 17px;
    height: 16px;
}
.catalog-item .actions a:hover:before{
	background: url("../img/decor/sprite.png") no-repeat -10px -877px;
	width: 17px;
    height: 16px;
}
.catalog-item .actions a:active:before {
	background: url("../img/decor/sprite.png") no-repeat -10px -877px;
	width: 17px;
    height: 16px;
}

.catalog-item .actions .buy:hover {
	background-color: #5fbb2d;
	border: 3px solid #5fbb2d;
	border-bottom-color: #367315;
}
.catalog-item .actions .buy:active {
	background-color: #518534;
	border: 3px solid #518534;
	border-bottom-color: #518534;
}

.catalog-item .actions .bookmark {
	color: #32425c;
	background-color: white;
	border-bottom-color: #63a63e;
}
.catalog-item .actions .bookmark:hover {
	border: 3px solid #32425c;
	border-bottom-color: #32425c;
}
.catalog-item .actions .bookmark:active {
	color: #c1c6ce;
	border: 3px solid #c1c6ce;
	border-bottom-color: #c1c6ce;
	
}
.catalog-item .actions {
	display: none;
}
.catalog-item:hover .actions{
	display: block;
}
.catalog-item .image {
	margin-right: auto;
	margin-left: auto;
	width: 127px;
	height: 112px;
	margin-top: 30px;
}
.catalog-item  .image  img{
	width: 127px;
	height: 112px;
}
.catalog-item .title {
	font-family: "PT Sans", arial ;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	min-height: 40px;
	padding: 0 25px;
	margin-top: 31px;
	margin-bottom: 15px;
}
.catalog-item  .discount {
	font-family: "PT Sans", arial ;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #adadad;
	text-decoration: line-through;
}
.catalog-item  .catalog-price {
	position: relative;
	width: 80px;
	font-family: "PT Sans", arial ;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px; 
}
.catalog-item  .catalog-price:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -20px;
	width: 0px;
	height: 0px;
	border: 20px solid white;
	border-left-color: transparent;
}
.pl-item {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}
.pl-item  li{
	display: inline-block;
	vertical-align: top;
}
.pl-item a {
	font-family: "PT Sans", arial;
	display: block;
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-decoration: none;
	padding: 9px 16px;
	margin-right: 10px;
	margin-top: 30px;
	background: white;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-transform: uppercase;
}
.pl-item  li:nth-child(4) a {
	padding: 9px 37px;
}
.pl-item  .active a {
	background: #ee3643;
	color: white;
	border: 1px solid #ee3643;
}
.pl-item  a:hover {
	border: 1px solid #bdc6ca;
}
.pl-item  a:active {
	border: 1px solid #ee3643;
} 
.say {
	font-family: "PT Sans", arial ;
	background: #f2f6f8; 
	clear: both;
	font-size: 13px;
	line-height: 24px;
	padding-top: 65px;
	padding-bottom: 75px;
}
.heading-two-catalog {
	display: block;
	font-size: 30px;
	line-height: 24px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
/* Всплывающая форма */
.modal-content {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); /* Для Firefox */
	-ms-transform: translate(-50%, -50%); /* Для IE */
	-webkit-transform: translate(-50%, -50%); /* Для Safari, Chrome, iOS */
	-o-transform: translate(-50%, -50%); /* Для Opera */
	border-top: 5px solid #ee3643;
	color: #000000;
	background: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	z-index: 25;
	font-size: 18px;
	line-height: 18px;
}
.modal-content-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 9px;
	left: 1px;
	width: 19px;
	height: 3px;
	background-color: red;
	border-radius: 1px;
}
.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}
.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px; 
}
.login-form label {
	cursor: pointer;
}

.login-form  input[type="text"] {
	width: 197px;
	margin: 0;
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	background-color: #fffffff;
	border: 2px solid #d7dcde;
	outline: none;
}

.login-form div {
	display: block;
	float: left;
	margin-right: 19px;
	margin-left: 80px;
	margin-bottom: 10px;
}
.login-form div:nth-child(2) {
	margin-right: 50px;
	 margin-left: 0px;
}
.login-form textarea {
	width: 437px;
	margin: 0;
	padding: 5px 10px;
	font-size: 13px;
	line-height: 18px;
	color: #999999;
	background-color: #fffffff;
	border: 2px solid #d7dcde;
	outline: none;
	margin-bottom: 30px;
	resize: none;
}
.login-form div:nth-child(4) {
	padding-top: 35px;
	padding-bottom: 36px;
	padding-left: 80px;
	padding-right: 79px;
	background: #f1f1f1;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
.login-form .icon-user-name {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 18px;
}
.login-form-btn{
	border: 0px;
	background: #ee3643;
	font-size: 14px;
	line-height: 18px;
	border-radius: 3px;
	padding-top: 11px;
	padding-bottom: 11px;
	text-transform: uppercase;
	color: white;
	width: 461px;
	outline:none;
}
/* Карта*/
.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); /* Для Firefox */
	-ms-transform: translate(-50%, -50%); /* Для IE */
	-webkit-transform: translate(-50%, -50%); /* Для Safari, Chrome, iOS */
	-o-transform: translate(-50%, -50%); /* Для Opera */
	width: 940px;
	height: 447px;
	z-index: 25;
	box-shadow: 0 0 15px 3px #d2d1d2;
	background: #e9e5dc url("../img/content/map/map1.png") no-repeat;
}
.modal-goods {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 620px;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); /* Для Firefox */
	-ms-transform: translate(-50%, -50%); /* Для IE */
	-webkit-transform: translate(-50%, -50%); /* Для Safari, Chrome, iOS */
	-o-transform: translate(-50%, -50%); /* Для Opera */
	border-top: 5px solid #ee3643;
	color: #000000;
	background: #ffffff url("img/pattern-white.jpg");
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	z-index: 25;
	font-size: 18px;
	line-height: 18px;
}

.modal-goods-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-goods-close::before,
.modal-goods-close::after {
	content: "";
	position: absolute;
	top: 9px;
	left: 1px;
	width: 19px;
	height: 3px;
	background-color: red;
	border-radius: 1px;
}
.modal-goods-close::before {
	transform: rotate(45deg);
}
.modal-goods-close::after {
	transform: rotate(-45deg);
}
.modal-goods .goods-basket {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 18px;
	padding-left: 100px;
	padding-top: 20px;
	margin-right: 125px;
	margin-left: 65px;
	margin-top: 56px;
	margin-bottom: 64px;
}
.modal-goods .goods-basket:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: #63a63e url("../img/decor/new/tick.png") no-repeat 14px 15px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.modal-goods a {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 18px;
	padding: 12px 0px;
	background: #ee3643;
	border-radius: 3px;
	margin-right: 20px;
	margin-left: 80px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	width: 220px;
	text-align: center;
}
.modal-goods a:nth-child(2) {
	margin-left: 0px;
}
.modal-goodst a:hover {
	background: #ca2c37;
}
.modal-goods a:active {
	background: white;
	color: black;
}
.modal-goods-btn {
	padding-top: 36px;
	padding-bottom: 38px;
	background: #f1f1f1;
	cursor: poiner;
}